<ion-header>
  <!--
<ion-content padding>
  <ion-content padding>
    <div #fixedContainer ion-fixed>
        <canvas #imageCanvas (touchstart)="startDrawing($event)" (touchmove)="moved($event)" (mousedown)="startDrawingMouse($event)" (mouseup)="stopDrawingMouse()" (mousemove)="movedMouse($event)"></canvas>
    </div>
  </ion-content>
</ion-content>
    
  -->
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
  
</ion-header>
